body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.AppApp--tab-content {
  border: 1px solid #dee2e6;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-top: -1px;
}

.AppApp--tab-panel__padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-date {
  margin-bottom: -10px;
  font-size: 90%;
  font-weight: bold;
}

.text-without-margin-bottom {
  margin-bottom: -10px;
}

.time-box-information {
  margin-bottom: -10px;
}

.week-container {
  border: 1px solid #dee2e6;
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;

  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098d1;
  color: white;
}
